
{% extends "rankings/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Dancers with Alias Names</h3>
    </div>
  </div>

  <div class="row align-items-start">
    <div class="col-12 col-lg-8 offset-lg-2 border border-dark px-0">
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Alias</th>
            <th class="text-center">Stored Name</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for d in page_obj %}
            <tr>
              <td class="text-center">{{ d.name }}</td>
              <td class="text-center"><a class="text-dark" href="{% url 'view_dancer' d.alias.id %}">{{ d.alias }}</a></td>
              <td class="text-center">
                <a class="btn btn-warning btn-sm" href="{% url 'accept_alias' d.id %}">Accept</a>
                <a class="btn btn-info btn-sm" href="{% url 'reject_alias'  d.id %}">Reject</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% include "rankings/pagination.html" %}
    </div>
  </div>


{% endblock %}
