{% extends "rankings/base.html" %}

{% block content %}

  <div class="row">
    <div class="col-4 offset-md-4">
      <h2 class="text-center">Dancers</h2>
    </div>
  </div>

  <div class="row align-items-start">

    <div class="col border border-dark">
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          {% for dancer in page_obj %}
          <tr>
            <td>
              <a href="{% url 'viewdancer' dancer.id %}">
                {% if dancer.name_middle %}
                  {{ dancer.name_last }}, {{ dancer.name_first }} {{ dancer.name_middle }}
                {% else %}
                  {{ dancer.name_last }}, {{ dancer.name_first }}
                {% endif %}
              </a>
            </td>
            <td>
              {{ dancer.get_dancer_type_display }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "rankings/pagination.html" %}
    </div>

    <div class="col border border-dark">
      <h4 class="text-center">Filter</h4>
      <form method="get">
        {{ filter.form.as_p }}
      <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>

  </div>


  <div class="row">
    <div class="col-2 offset-md-5">
      <a class="btn btn-primary" href="{% url 'createdancer' %}">Add Dancer</a>
    </div>
  </div>

{% endblock %}
