{% extends "rankings/base.html" %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Couples</h2>
    </div>
  </div>

  {{ error }}
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 p-0">
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th>Dancer 1</th>
            <th></th>
            <th>Dancer 2</th>
            <th>Couple Type</th>
          </tr>
        </thead>
        <tbody>
          {% for couple in page_obj %}
          <tr>
            <td>{{ couple.dancer_1 }}</td>
            <td>and</td>
            <td>{{ couple.dancer_2 }}</td>
            <td><a href="{% url 'view_couple' couple.id %}"">{{ couple.get_couple_type_display }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% include "rankings/pagination.html" %}

      {% if show_admin_buttons %}
        <div class="text-center my-3">
          <a class="btn btn-primary" href="{% url 'create_couple' %}">Add Couple</a>
        </div>
      {% endif %}
    </div>
  </div>


{% endblock %}
