{% extends "rankings/base.html" %}

{% block content %}

<section class="section">
  <container class="container has-text-centered">
    <h2 class="subtitle">Dancers</h2>
    {{ error }}
  </container>
  <div class="columns is-centered">
  <div class="column is-narrow">
  <table class="table is-bordered">
    <tr>
      <th>Name</th>
      <th>Category</th>
    </tr>

    {% for dancer in page_obj %}
    <tr>
      <td>
        <a href="{% url 'viewdancer' dancer.id %}">
          {% if dancer.name_middle %}
            {{ dancer.name_last }}, {{ dancer.name_first }} {{ dancer.name_middle }}
          {% else %}
            {{ dancer.name_last }}, {{ dancer.name_first }}
          {% endif %}
        </a>
      </td>
      <td>
        {{ dancer.get_dancer_type_display }}
      </td>
    </tr>
    {% endfor %}
  </table>
  </div>
  </div>
</section>

<section class="section">
  <container class="container">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% if page_obj.has_previous %}
          <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      <ul class="pagination-list">
        {% if page_obj.has_previous %}
          <li><a class="pagination-link" href="?page=1" aria-label="Goto page 1">1</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <l1><a class="pagination-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></l1>
        {% endif %}
        <li><a class="pagination-link is-current" aria-label="Current page" aria-current="page">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
          <l1><a class="pagination-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></l1>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Goto last page">{{ page_obj.paginator.num_pages }}</a></li>
        {% endif %}
      </ul>
      {% if page_obj.has_next %}
          <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </nav>
  </container>
</<section>

<section class="section">
  <container class="container has-text-centered">
    <form method="GET" action="{% url 'createdancer' %}">
      {% csrf_token %}
      <button type="submit" class="button is-primary is-rounded">Add Dancer</button>
    </form>
  </container>
</section>

{% endblock %}
