{% extends "rankings/base.html" %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Dancers</h2>
    </div>
  </div>

  <div class="row align-items-start">

    <div class="col-12 col-md-6 offset-md-1 border border-dark">
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for dancer in page_obj %}
          <tr>
            <td>{{ dancer }}</td>
            <td>{{ dancer.get_dancer_type_display }}</td>
            <td>
              <a class="btn btn-primary btn-sm" href="{% url 'view_dancer' dancer.id %}">View</a>
              {% if show_admin_buttons %}
                <a class="btn btn-secondary btn-sm" href="{% url 'edit_dancer' dancer.id %}">Edit</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "rankings/pagination.html" %}
      {% if show_admin_buttons %}
        <div class="text-center mt-2">
          <a class="btn btn-primary" href="{% url 'create_dancer' %}">Add Dancer</a>
        </div>
      {% endif %}
    </div>

    <div class="col-12 col-md-4 border border-dark">
      <h4 class="text-center">Filter</h4>
      <form method="get">
        {{ filter.form.as_p }}
      <div class="text-center">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
      </form>
    </div>

  </div>

{% endblock %}
