{% extends "rankings/base.html" %}

{% block content %}

  <div class="row">
    <div class="col-4 offset-md-4">
      <h2 class="text-center">Couples</h2>
    </div>
  </div>

  {{ error }}
  <div class="row">
    <div class="col-8 offset-md-2">
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th>Dancer 1</th>
            <th></th>
            <th>Dancer 2</th>
            <th>Couple Type</th>
          </tr>
        </thead>
        <tbody>
          {% for couple in page_obj %}
          <tr>
            <td>{{ couple.dancer_1 }}</td>
            <td>and</td>
            <td>{{ couple.dancer_2 }}</td>
            <td><a href="{% url 'viewcouple' couple.id %}"">{{ couple.get_couple_type_display }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% include "rankings/pagination.html" %}

      <div class="text-center my-3">
        <a class="btn btn-primary" href="{% url 'createcouple' %}">Add Couple</a>
      </div>
    </div>
  </div>


{% endblock %}
