<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DanceSport Tracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% url 'home' %}">Home</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button" href="{% url 'all_dancers' %}">Dancers</a>
              <a class="button" href="{% url 'all_couples' %}">Couples</a>
              <a class="button" href="{% url 'comps:all_comps' %}">Competitions</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <container class="container has-text-centered">
      <h1 class="title">Dancesport Tracker</h1>
    </container>

    {% block content %} {% endblock %}

    <footer class="footer">
      <div class="content has-text-centered is-small">
        <p>
          Styled with <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
        <p>Powered by <a href="https://www.djangoproject.com/">Django</a>. Copyright 2005-2020 <a href="https://www.djangoproject.com/foundation">Django Software Foundation</a> and individual contributors.</p>
      </div>
  </footer>
  </body>
</html>
