{% extends "rankings/base.html" %}

{% block content %}

<h2 class='text-center'>{{ couple }}</h2>
<h3 class='text-center'>{{ couple.get_couple_type_display }}</h3>
<br />

<div class="row">
  <div class="col-4 offset-4 border border-dark">
    <h3 class="text-center">Edit Profile</h3>
    <p>{{ error }}</p>

    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
          <label>Leader</label>
          {{ form.dancer_1}}
      </div>
      <div class="form-group">
        <label class="label">Follower</label>
          {{ form.dancer_2}}
      </div>
      <div class="form-group">
        <label class="label">Type</label>
          {{ form.couple_type}}
      </div>
      <div class="text-center mt-3">
        <input class="btn btn-primary" type="submit" name="submit" value = "Save"/>
      </div>
      <div class="text-center mt-2">
        <input class="btn btn-danger" type="submit" name="submit" value="Delete Couple" onclick="return confirm('Are you sure?')" />
      </div>
    </form>
  </div>
</div>


{% endblock %}
