{% extends "rankings/base.html" %}

{% block content %}

<h2 class='text-center'>{{ dancer }}</h2>
<h3 class='text-center'>Dancer Category: {{ dancer.get_dancer_type_display }}</h3>
<br />

<div class="row">
  <div class="col-4 offset-md-4 border border-dark">
    <h3 class="text-center">Edit Profile</h3>
    <p>{{ error }}</p>

    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
          <label>First Name</label>
          {{ form.name_first}}
      </div>
      <div class="form-group">
        <label class="label">Middle Name</label>
          {{ form.name_middle}}
      </div>
      <div class="form-group">
        <label class="label">Last Name</label>
          {{ form.name_last}}
      </div>
      <div class="form-group">
        <label class="label">Type</label>
          {{ form.dancer_type}}
      </div>
      <div class="text-center mt-3">
        <input class="btn btn-primary" type="submit" name="submit" value="Save" />
      </div>
      <div class="text-center mt-2">
        <input class="btn btn-danger" type="submit" name="submit" value="Delete Dancer" onclick="return confirm('Are you sure?')" />
      </div>
    </form>
  </div>
</div>







{% endblock %}
