{% extends "rankings/base.html" %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Elo Ratings</h2>
    </div>
  </div>

  <p class='text-center bg-warning my-3'>{{ error }}</p>
  
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 pl-1 pl-md-3 bg-primary">
      <form class="mx-auto" id="elo-ranking-form" method="POST">
        {% csrf_token %}
        <div class="form-row py-1 my-2 align-items-center">
          <div class="col-4">
            <select id='couple-type-select' class="form-control" name="couple_type">
              {% for c in couple_types %}
                {% if c == selected_couple_type %}
                  <option selected value={{ forloop.counter0 }}>{{ c }}</option>
                {% else %}
                  <option value={{ forloop.counter0 }}>{{ c }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="col-3">
            <select id='dance-style-select' class="form-control" name="style">
              {% for s in styles %}
                {% if s == selected_style %}
                  <option selected value={{ s }}>{{ s }}</option>
                {% else %}
                  <option value={{ s }}>{{ s }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="col-4">
            <input class="form-control" id="last_name" name="last_name" type="text" placeholder='Last Name'>
          </div>
          <div class="col-1 px-0 text-center">
            <button class="btn-sm" type="submit">&#128269;</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 px-0">
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th class='text-center'>Ranking</th>
            {% if couple_type == 'Pro-Am' or couple_type == 'Junior_Pro-Am' %}
              <th class='text-center'>Student</th>
              <th></th>
              <th class='text-center'>Teacher</th>
            {% else %}
              <th class='text-center'>Leader</th>
              <th></th>
              <th class='text-center'>Follower</th>
            {% endif %}
            <th class='text-center'>Events</th>
            <th class='text-center'>Rating</th>
          </tr>
        </thead>
        <tbody>
          {% for couple in page_obj %}
          <tr>
            <td class='text-center'>{{ couple.index }}</td>
            <td class='text-center'><a href="{% url 'view_dancer' couple.rating.couple.dancer_1.id %}">{{ couple.rating.couple.dancer_1 }}</a></td>
            <td class='text-center'>and</td>
            <td class='text-center'><a href="{% url 'view_dancer' couple.rating.couple.dancer_2.id %}">{{ couple.rating.couple.dancer_2 }}</a></td>
            <td class='text-center'>{{ couple.rating.num_events }}</td>
            <td class='text-center'><a href="{% url 'view_couple' couple.rating.couple.id %}"">{{ couple.rating.value|floatformat:2  }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% include "rankings/pagination.html" %}
      
      <p class='text-center mt-3'>Elo Ratings started in June 2021 at the Millenium Dancesport competition.</p>
      
    </div>
  </div>

  <script>
    //get form
    const elo_ranking_form = document.getElementById("elo-ranking-form");

    // get form fields
    const last_name = document.getElementById("last_name");
    const dance_style = document.getElementById("couple-type-select");
    const couple_type = document.getElementById("dance-style-select");

    // add event listener for changes to the selection on any of the form fields
    last_name.addEventListener('change', mySubmitFunction);
    dance_style.addEventListener('change', mySubmitFunction);
    couple_type.addEventListener('change', mySubmitFunction);    

    // submit the form when any of the events happen
    function mySubmitFunction() {
      elo_ranking_form.submit();
    };
  </script>
  
{% endblock %}
