{% extends "rankings/base.html" %}

{% block content %}

<div class="jumbotron text-center">
  <h1 class="display-4">Dancesport Tracker</h1>
  <p class="lead">  Dancesport Tracker captures the results of <a href="https://ndca.org/">NDCA</a> ballroom dance competitions, using publicly available data
    from <a href="https://www.douglassassociates.com/">COMPMNGR</a> and <a href="http://www.ndcapremier.com/index.htm">NDCAPremier.com</a></p>
  <hr class="my-4">
  <p class="text-center">Dancesport Tracker results and rankings are unofficial.
    This site is not associated with the <a href="https://ndca.org/">NDCA</a>  or any of the other websites mentioned above.</p>
</div>

<div class="row">

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card border-primary text-center">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">Competitions</h5>
        {% if current_comps %}
          <h6 class="card-text">Current Competitions</h6>
          <ul class="list-group">
            {% for comp in current_comps %}
              <li class="list-group-item"><a href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
        <h6 class="card-text mt-2">Find a previous competition.</h6>
        <p class="card-text">View the dancers, couples, heatlists, and results of all multi-dance heats.</p>
        <a href="{% url 'comps:all_comps' %}" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card border-primary text-center">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">Dancers</h5>
        <p class="card-text">Find a dancer by name and view their partnerships.</p>
        <p class="card-text">View the competition results for each partnership.</p>
        <a href="{% url 'all_dancers' %}" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card border-primary text-center">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">Elo Ratings</h5>
        <p class="card-text">View couple ratings, grouped by:</p>
        <ul class="list-group">
          <li class="list-group-item"><strong>Category</strong> (e.g. Pro, Pro-Am)</li>
          <li class="list-group-item"><strong>Style</strong> (e.g. Smooth, Rhythm)</li>
        </ul>
        <a href="{% url 'show_elo_ratings' %}" class="btn btn-primary">Go</a>
        <a class="btn btn-info" href="{% url 'scoring' %}" role="button">About</a>
      </div>
    </div>
  </div>
</div>







{% endblock %}
