{% extends "rankings/base.html" %}

{% block content %}

<div class="col-8 offset-md-2">
  <h1 class="text-center">2020 DanceSport Rankings</h1>
</div>

<div class="row">

  <form method="POST">
    {% csrf_token %}
    <div class="form-row align-items-end">
      <div class="form-group col offset-3">
          <label for="couple_type">Couple Type</label>
          <select class="form-control form-control-lg" id="couple_type" name="couple_type">
              {% for c in couple_types %}
                {% if c == selected_couple_type %}
                  <option selected value={{ c }}>{{ c }}</option>
                {% else %}
                  <option value={{ c }}>{{ c }}</option>
                {% endif %}
              {% endfor %}
          </select>
      </div>
      <div class="form-group col">
          <label for="style">Style</label>
          <select class="form-control form-control-lg" id="style" name="style">
              {% for s in styles %}
                {% if s == selected_style %}
                  <option selected value={{ s }}>{{ s }}</option>
                {% else %}
                  <option value={{ s }}>{{ s }}</option>
                {% endif %}
              {% endfor %}
          </select>
      </div>
      <div class="form-group col">
          <label for="last_name">Last Name Contains</label>
          <input class="form-control-lg" id="last_name" name="last_name" type="text">
      </div>
      <div class="form-group col">
        <input class="btn btn-primary btn-lg" type="submit" name="submit" value="Submit"/>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-10 offset-1">
    <table class="table table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Ranking</th>
          <th>Dancer 1</th>
          <th></th>
          <th>Dancer 2</th>
          <th>Events</th>
          <th>Total Points</th>
          <th>Average</th>
        </tr>
      </thead>
      <tbody>
        {% for couple_stats in page_obj %}
        <tr>
          <td class="text-center">{{ couple_stats.index }}</td>
          <td>{{ couple_stats.couple.dancer_1 }}</td>
          <td>and</td>
          <td>{{ couple_stats.couple.dancer_2 }}</td>
          <td class="text-center">
            <a  href="{% url 'viewcouple' couple_stats.couple.id %}">{{ couple_stats.event_count }}</a>
          </td>
          <td class="text-center">{{ couple_stats.total_points }}</td>
          <td class="text-center">{{ couple_stats.rating }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "rankings/pagination.html" %}
  </div>

</div>

{% endblock %}
