{% extends "rankings/base.html" %}

{% block content %}

<h1 class='text-center'>DanceSport Tracker Rating System</h1>
<br />

<div class="row">

  <div class="col-12 col-lg-6 p-2 border border-dark">
    <h3 class="text-center">About the Elo rating system</h3>
    <ul>
      <li>The <a href="https://en.wikipedia.org/wiki/Elo_rating_system" target="_blank">Elo rating system </a> was developed to calculate the relative skill levels of chess players.</li>
      <li>It is also used as a rating system in football, baseball, basketball, pool, table tennis, and various board games and esports.</li>
      <li>The difference in the ratings between two players serves as a predictor of the outcome of a match. Two players with equal ratings who play against each other are expected to score an equal number of wins.</li>
      <li>A player's Elo rating is represented by a number which may change depending on the outcome of rated games played. After every game, the winning player takes points from the losing one.</li>
      <li>The difference between the ratings of the winner and loser determines the total number of points gained or lost after a game. If the higher-rated player wins, then only a few rating points will be taken from the lower-rated player. However, if the lower-rated player scores an upset win, many rating points will be transferred.</li>
    </ul>
  </div>
  <div class="col-12 col-lg-6 p-2 border border-dark">
    <h3 class="text-center">Adapting Elo ratings for DanceSport</h3>
    <ul>
      <li>The Elo rating system was designed for two-player games.</li>
      <li>The DanceSport tracker rating system is based on this <a href="https://towardsdatascience.com/developing-a-generalized-elo-rating-system-for-multiplayer-games-b9b495e87802" target="-blank">article</a> by Danny Cunningham, which defines a multi-player Elo method where each contest is treated a series of head-to-head matchups.</li>
      <li>For example, a three-couple heat has three distinct matchups (A vs. B, A vs. C, B vs. C)</li>
      <li>Initial ratings are based on the first event entered by each couple since June 2021.</li>
      <ul>
        <li>Open Professional events have an initial rating of 1750.</li>
        <li>Rising Star Professional events have an initial rating of 1500.</li>
        <li>Amateur Championships and Pro-Am Gold/Open events have an initial rating of 1250.</li>
        <li>Amateur Pre-Champ and Pro-Am Silver/Closed events have an initial rating of 1000.</li>    
        <li>Pro-Am Bronze/Newcomer events have an initial rating of 750.</li>  
      </ul>
    </ul>
  </div>
</div>

<div class="row">

  <div class="col-12 col-lg-6 p-2 border border-dark">
    <h3 class="text-center">Rating Groups</h3>
    <ul>
      <li>Each combination of couple type and dance style (Smooth, Rhythm, Standard, Latin, Cabaret, etc.) have separate ratings.</li>
      <li>There are five types of couples:</li>
        <ul>
          <li>Professional Couples</li>
          <li>Pro-Am Couples - adult student with a pro instructor</li>
          <li>Amateur Couples - two adult amateurs</li>
          <li>Junior Pro-Am Couples - junior student with a pro instructor</li>
          <li>Junior Amateur Couples- two junior amateurs</li>
        </ul>
    </ul>
  </div>
  <div class="col-12 col-lg-6 p-2 border border-dark">
    <h3 class="text-center">Rating Points</h3>
    <ul>
      <li>A Couple's rating is based on their performance at NDCA competitions, starting with the Millenium DanceSport in June 2021.</li>
      <li>All Multi-dance heats count for points.</li>
      <li>Professional Cabaret / Showdance / Theater Arts events count for points.</li>
      <li>Single-dance freestyle heats do not count for points. These results are not stored in DanceSport Tracker.</li>
    </ul>
  </div>
</div>
{% endblock %}
