{% extends "rankings/base.html" %}

{% block content %}

<h2 class='text-center'>{{ dancer }}</h2>
<br />

<div class="row">
  <div class="col-2 offset-md-1 border border-dark">
    <h3 class="text-center">Edit Profile</h3>
    <p>{{ error }}</p>

    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
          <label>First Name</label>
          {{ form.name_first}}
      </div>
      <div class="form-group">
        <label class="label">Middle Name</label>
          {{ form.name_middle}}
      </div>
      <div class="form-group">
        <label class="label">Last Name</label>
          {{ form.name_last}}
      </div>
      <div class="form-group">
        <label class="label">Type</label>
          {{ form.dancer_type}}
      </div>
      <input class="btn btn-primary" type="submit" name="submit" value="Save" />
      <input class="btn btn-danger" type="submit" name="submit" value="Delete Dancer" onclick="return confirm('Are you sure?')" />
    </form>
  </div>

  <div class="col-7 offset-md-1 border border-dark">
    <h3 class="text-center">Dancer's Current Couples</h3>
    <table class="table table-bordered table-sm">
      <tr>
        <th>Dancer 1</th>
        <th></th>
        <th>Dancer 2</th>
        <th>Category</th>
      </tr>

      {% for couple in couples %}
      <tr>
        <td>{{ couple.dancer_1 }}</td>
        <td>and</td>
        <td>{{ couple.dancer_2 }}</td>
        <td><a href="{% url 'viewcouple' couple.id %}">{{ couple.get_couple_type_display }}</a></td>
      </tr>
      {% endfor %}
    </table>
    <a class="btn btn-primary" href="{% url 'createcouple' %}">Add Couple</a>
  </div>
</div>







{% endblock %}
