{% extends "rankings/base.html" %}

{% block content %}

<h2 class='text-center'>{{ dancer }}</h2>
<h3 class='text-center'>Dancer Category: {{ dancer.get_dancer_type_display }}</h3>
{% if dancer.dancer_type == "PRO" %}
  {% if comp_rating > 0 %}
    <h4 class='text-center'>Pro Competition Rating: {{ comp_rating }}</h4>
  {% endif %}
  {% if pro_am_rating > 0 %}
    <h4 class='text-center'>Instructor Rating: {{ pro_am_rating }}</h4>
  {% endif %}
{% else %}
  {% if comp_rating > 0 %}
    <h4 class='text-center'>Amateur Competition Rating: {{ comp_rating }}</h4>
  {% endif %}
  {% if pro_am_rating > 0 %}
    <h4 class='text-center'>Student Rating: {{ pro_am_rating }}</h4>
  {% endif %}
{% endif %}
{% if show_admin_buttons %}
  <div class="text-center">
    <a class="btn btn-secondary btn-sm" href="{% url 'edit_dancer' dancer.id %}">Edit Profile</a>
  </div>
{% endif %}
<br />

<div class="row">
  <div class="col-12 col-lg-8 offset-lg-2 p-0 border border-dark">
    <h3 class="text-center">Partnerships</h3>
    <table class="table table-bordered table-sm">
      <tr>
        <th>Dancer 1</th>
        <th></th>
        <th>Dancer 2</th>
        <th class='text-center'>Category</th>
        <th class='text-center'>Rating</th>
        <th>Action</th>
      </tr>

      {% for p in partnerships %}
      <tr>
        <td>{{ p.couple.dancer_1 }}</td>
        <td>and</td>
        <td>{{ p.couple.dancer_2 }}</td>
        <td class='text-center'>{{ p.couple.get_couple_type_display }}</td>
        <td class='text-center'>{{ p.rating }}</td>
        <td>
          <a class="btn btn-primary btn-sm" href="{% url 'view_couple' p.couple.id %}">View</a>
          {% if show_admin_buttons %}
            <a class="btn btn-secondary btn-sm" href="{% url 'edit_couple' p.couple.id %}">Edit</a>
            <a class="btn btn-secondary btn-sm" href="{% url 'flip_couple' p.couple.id %}">Flip</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% if show_admin_buttons %}
      <div class="text-center my-3">
        <span class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">Add Couple</button>
          <div class="dropdown-menu">
            {% if dancer.dancer_type == 'PRO' %}
              <a class="dropdown-item" href="{% url 'create_couple' 'PAC' dancer.id 2 %}">Pro-Am Couple</a>
              <a class="dropdown-item" href="{% url 'create_couple' 'JPC' dancer.id 2 %}">Jr. Pro-Am Couple</a>
              <a class="dropdown-item" href="{% url 'create_couple' 'PRC' dancer.id 1 %}">PRO: As Dancer 1</a>
              <a class="dropdown-item" href="{% url 'create_couple' 'PRC' dancer.id 2 %}">PRO: As Dancer 2</a>
            {% elif dancer.dancer_type == 'AM' %}
              <a class="dropdown-item" href="{% url 'create_couple' 'PAC' dancer.id 1 %}">Pro-Am Couple</a>
              <a class="dropdown-item" href="{% url 'create_couple' 'AMC' dancer.id 1 %}">Amateur: As Dancer 1</a>
              <a class="dropdown-item" href="{% url 'create_couple' 'AMC' dancer.id 2 %}">Amateur: As Dancer 2</a>
            {% else %}  <!-- Junior -->
              <a class="dropdown-item" href="{% url 'create_couple' 'JAC' dancer.id 1 %}">JR-JR: As Dancer 1</a>
              <a class="dropdown-item" href="{% url 'create_couple' 'JAC' dancer.id 2 %}">JR-JR: As Dancer 2</a>
              <a class="dropdown-item" href="{% url 'create_couple' 'JPC' dancer.id 1 %}">Jr. Pro-Am Couple</a>
              <a class="dropdown-item" href="{% url 'create_couple' 'AMC' dancer.id 1 %}">Adult Amateur: As Dancer 1</a>
              <a class="dropdown-item" href="{% url 'create_couple' 'AMC' dancer.id 2 %}">Adult Amateur: As Dancer 2</a>
              <a class="dropdown-item" href="{% url 'create_couple' 'PAC' dancer.id 1 %}">Pro-Am Couple</a>
            {% endif %}
          </div>
        </span>
        {% if comps_with_mismatches %}
          <span class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">Go to Comp</button>
            <span class="dropdown-menu">
              {% for comp in comps_with_mismatches %}
                <a class="dropdown-item" href="{% url 'comps:resolve_mismatches' comp.id%}">{{comp.title}}</a>
              {% endfor %}
            </span>
          </span>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>







{% endblock %}
