{% extends "rankings/base.html" %}

{% block content %}

<h2 class='text-center'>{{ dancer }}</h2>
<h3 class='text-center'>Dancer Category: {{ dancer.get_dancer_type_display }}</h3>
<br />

<div class="row">
  <div class="col-12 col-lg-8 offset-lg-2 p-0 border border-dark">
    <h3 class="text-center">Partnerships</h3>
    <table class="table table-bordered table-sm">
      <tr>
        <th>Dancer 1</th>
        <th></th>
        <th>Dancer 2</th>
        <th>Category</th>
        <th>Action</th>
      </tr>

      {% for couple in couples %}
      <tr>
        <td>{{ couple.dancer_1 }}</td>
        <td>and</td>
        <td>{{ couple.dancer_2 }}</td>
        <td>{{ couple.get_couple_type_display }}</td>
        <td>
          <a class="btn btn-primary btn-sm" href="{% url 'view_couple' couple.id %}">View</a>
          {% if show_admin_buttons %}
            <a class="btn btn-secondary btn-sm" href="{% url 'edit_couple' couple.id %}">Edit</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% if show_admin_buttons %}
      <div class="text-center my-3">
        <span class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">Add Couple</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'create_couple' 1 dancer.id %}">As Dancer 1</a>
            <a class="dropdown-item" href="{% url 'create_couple' 2 dancer.id %}">As Dancer 2</a>
          </div>
        </span>
        {% if comps_with_mismatches %}
          <span class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">Go to Comp</button>
            <span class="dropdown-menu">
              {% for comp in comps_with_mismatches %}
                <a class="dropdown-item" href="{% url 'comps:resolve_mismatches' comp.id%}">{{comp.title}}</a>
              {% endfor %}
            </span>
          </span>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>







{% endblock %}
