{% extends "rankings/base.html" %}

{% block content %}

<h2 class='text-center'>{{ couple }}</h2>
<h3 class='text-center'>Couple Type: {{ couple.get_couple_type_display }}</h3>
<br />

<div class="row">

  <div class="col-12 col-lg-8 offset-lg-2 p-0 border border-dark">
    <h3 class="text-center">Couple's Competitions</h3>
    <table class="table table-bordered table-sm">
      <tr>
        <th>Start Date</th>
        <th>Title</th>
        <th class="d-none d-md-table-cell">Location</th>
        <th>Heats</th>
      </tr>

      {% for comp in comps_for_couple %}
      <tr>
        <td>{{ comp.start_date }}</td>
        <td><a href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></td>
        <td class="d-none d-md-table-cell">{{ comp.location}}</td>
        <td><a class="btn btn-outline-dark btn-sm" role="button" href="{% url 'comps:couple_heats' comp.id couple.id %}">View Heats</a></td>
      </tr>
      {% endfor %}
    </table>
    {% if show_admin_buttons %}
      <div class="text-center my-3">
        <a class="btn btn-primary" href="{% url 'edit_couple' couple.id %}">Edit Couple</a>
        <span class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">Go to Comp</button>
          <span class="dropdown-menu">
            {% for comp in comps_with_mismatches %}
              <a class="dropdown-item" href="{% url 'comps:resolve_mismatches' comp.id%}">{{comp.title}}</a>
            {% endfor %}
          </span>
        </span>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
