{% extends "rankings/base.html" %}

{% block content %}

<!-- display couple names as individual dancers with links to dancer page -->
<!-- <h2 class='text-center'>{{ couple }}</h2> -->
<h2 class='text-center'>
  <a class="text-dark" href="{% url 'view_dancer' couple.dancer_1.id %}">{{couple.dancer_1 }}</a> and <a class="text-dark" href="{% url 'view_dancer' couple.dancer_2.id %}">{{ couple.dancer_2 }}</a>
</h2>
<h3 class='text-center'>Couple Type: {{ couple.get_couple_type_display }}</h3>
<h4 class='text-center'>Couple Rating: {{rating}}</h4>

{% if show_admin_buttons %}
  <div class="text-center my-3">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownActionButton" data-toggle="dropdown">Modify</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'change_couple_type' couple.id %}">Change Type</a>
      <a class="dropdown-item" href="{% url 'edit_couple' couple.id %}">Edit All Fields</a>
      <a class="dropdown-item" href="{% url 'flip_couple' couple.id %}">Flip</a>
    </div>
  </div>
{% endif %}

<div class="row">

  <div class="col-12 col-lg-8 offset-lg-2 p-0 border border-dark">
    <h3 class="text-center">Couple's Competitions</h3>
    <table class="table table-bordered table-sm">
      <tr>
        <th>Start Date</th>
        <th>Title</th>
        <th class="d-none d-md-table-cell">Location</th>
        <th>Heats</th>
      </tr>

      {% for comp in comps_for_couple %}
      <tr>
        <td>{{ comp.start_date }}</td>
        <td><a href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></td>
        <td class="d-none d-md-table-cell">{{ comp.location}}</td>
        {% if comp.process_state == comp.RESULTS_RESOLVED %}
          <td><a class="btn btn-outline-dark btn-sm" role="button" href="{% url 'comps:couple_heats' comp.id couple.id %}">View Results</a></td>
        {% else %}
          <td><a class="btn btn-outline-dark btn-sm" role="button" href="{% url 'comps:couple_heats' comp.id couple.id %}">View Heats</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    {% if show_admin_buttons %}
      <div class="text-center my-3">
        {% if comps_with_mismatches %}
          {% if comps_with_mismatches|length > 1%}
            <span class="dropdown">
              <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">Go to Comp</button>
              <span class="dropdown-menu">
                {% for comp in comps_with_mismatches %}
                  <a class="dropdown-item" href="{% url 'comps:resolve_mismatches' comp.id%}">{{comp.title}}</a>
                {% endfor %}
              </span>
            </span>
          {% else %}
            <a class="btn btn-secondary btn-sm" href="{% url 'comps:resolve_mismatches' comps_with_mismatches.0.id %}">Go To Comp</a>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
