{% extends "rankings/base.html" %}

{% block content %}

<h2 class='text-center'>{{ couple }}</h2>
<h3 class='text-center'>Couple Type: {{ couple.get_couple_type_display }}</h3>
<br />

<div class="row">

  <div class="col border border-dark">
    <h3 class="text-center">Couple's Competitions</h3>
    <table class="table table-bordered table-sm">
      <tr>
        <th>Start Date</th>
        <th>Title</th>
        <th>Location</th>
        <th>Heats</th>
      </tr>

      {% for comp in comps_for_couple %}
      <tr>
        <td>{{ comp.start_date }}</td>
        <td><a href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></td>
        <td>{{ comp.location}}</td>
        <td><a class="btn btn-outline-dark btn-sm" role="button" href="{% url 'comps:couple_heats' comp.id couple.id %}">View Heats</a></td>
      </tr>
      {% endfor %}
    </table>
    <div class="text-center my-3">
      <a class="btn btn-primary" href="{% url 'editcouple' couple.id %}">Edit Couple</a>
    </div>
  </div>
</div>

{% endblock %}
