{% extends "rankings/base.html" %}

{% block content %}

<container class="container has-text-centered">

  <div class="columns is-centered">
    <div class="column is-narrow">
      <p class="subtitle">Edit Dancer</p>
      <p>{{ error }}</p>

      <form method="POST">
        {% csrf_token %}
        <div class="field">
            <label class="label">First Name</label>
          <div class="control">
            {{ form.name_first}}
          </div>
        </div>
        <div class="field">
          <label class="label">Middle Name</label>
          <div class="control">
            {{ form.name_middle}}
          </div>
        </div>
        <div class="field">
          <label class="label">Last Name</label>
          <div class="control">
            {{ form.name_last}}
          </div>
        </div>
        <div class="field">
          <label class="label">Type</label>
          <div class="control">
            {{ form.dancer_type}}
          </div>
        </div>
        <button type="submit">Save</button>
      </form>
    </div>

    <div class="column is-narrow">
      <p class="subtitle">Dancer's Current Couples</p>
      <table class="table is-bordered">
        <tr>
          <th>Dancer 1</th>
          <th></th>
          <th>Dancer 2</th>
          <th>Category</th>
        </tr>

        {% for couple in couples %}
        <tr>

          <td>{{ couple.dancer_1 }}</td>
          <td>and</td>
          <td>{{ couple.dancer_2 }}</td>
          <td><a href="{% url 'viewcouple' couple.id %}"">{{ couple.get_couple_type_display }}</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</container>


{% endblock %}
