django==4.0.4
gunicorn==20.1.0
redis==4.3.4
celery==5.2.6
celery-progress==0.1.2
cloudinary==1.29.0
dj3-cloudinary-storage==0.0.6
dj-database-url==0.5.0
django-filter==22.1
numpy==1.23.1
python-dateutil==2.8.2
python-decouple==3.6
requests==2.27.1
Pillow==9.1.0
whitenoise==6.2.0
git+https://github.com/djcunningham0/multielo.git
