django
gunicorn
django-heroku
redis
celery
celery-progress
cloudinary
dj3-cloudinary-storage
django-filter
numpy
pandas
python-dateutil
requests
Pillow
whitenoise
django-bmemcached==0.3.0
git+https://github.com/djcunningham0/multielo.git