{% extends "rankings/base.html" %}
{% block content %}


<div class="row">
  <div class="col-12">
    <h2 class="text-center">Competitions</h2>
    {% if show_add_button %}
    <div class="text-center my-1">
      <a class="btn btn-primary" href="{% url 'comps:create_comp' %}">Add New Competition</a>
    </div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-10 offset-lg-1">
    <table class="table table-sm table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Title</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {% for comp in page_obj %}
          <tr>
            <td>{{ comp.start_date }}</td>
            <td>{{ comp.end_date }}</td>

            <td><a href="{% url 'comps:comp_detail' comp.id %}"">{{ comp.title }}</a></td>
            <td>{{ comp.location }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "rankings/pagination.html" %}
  </div>
</div>


{% endblock %}
