{% extends "rankings/base.html" %}
{% block content %}

<container class="container has-text-centered">


</container>

<section class="section">
  <div class="columns is-centered">
  <div class="column is-narrow">
  <h2 class="subtitle has-text-centered">Competitions</h2>
  <p>{{ error}}</p>
  <table class="table is-bordered">
    <thead>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Title</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {% for comp in page_obj %}
        <tr>
          <td>{{ comp.start_date }}</td>
          <td>{{ comp.end_date }}</td>

          <td><a href="{% url 'comps:detail' comp.id %}"">{{ comp.title }}</a></td>
          <td>{{ comp.location }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<section class="section">
  <container class="container">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% if page_obj.has_previous %}
          <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      <ul class="pagination-list">
        {% if page_obj.has_previous %}
          <li><a class="pagination-link" href="?page=1" aria-label="Goto page 1">1</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <l1><a class="pagination-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></l1>
        {% endif %}
        <li><a class="pagination-link is-current" aria-label="Current page" aria-current="page">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
          <l1><a class="pagination-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></l1>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Goto last page">{{ page_obj.paginator.num_pages }}</a></li>
        {% endif %}
      </ul>
      {% if page_obj.has_next %}
          <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </nav>
  </container>
</<section>

{% endblock %}
