{% extends "rankings/base.html" %}
{% block content %}


<div class="row">
  <div class="col-12">
    <h2 class="text-center">Competitions</h2>
    {% if show_add_button %}
    <div class="text-center my-1">
      <a class="btn btn-primary" href="{% url 'comps:create_comp' %}">Add New Competition</a>
    </div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-10 offset-lg-1">
    <table class="table table-sm table-bordered">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Start Date</th>
          <th class="text-center">End Date</th>
          <th class="text-center">Title</th>
          <th class="text-center">Location</th>
        </tr>
      </thead>
      <tbody>
        <form class="mx-auto" id='comp-filter-form' method="get">
          {% csrf_token %}
          <tr class="table-primary">
            <td colspan="2" class='text-right'><strong>Filter </strong></td>
            <td id='title-filter' class="text-center">{{ filter.form.title }}</td>
            <td id='location-filter' class="text-center">{{ filter.form.location }}</td>
            <td class="text-center" hidden><input class="btn btn-info btn-sm" type="submit" name="btn-submit" value="Submit"/></td>
          </tr>
        </form>
        {% for comp in page_obj %}
          <tr>
            <td class="text-center">{{ comp.start_date }}</td>
            <td class="text-center">{{ comp.end_date }}</td>

            <td class="text-center"><a href="{% url 'comps:comp_detail' comp.id %}"">{{ comp.title }}</a></td>
            <td class="text-center">{{ comp.location }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "rankings/pagination.html" %}
  </div>
</div>

  <script>
    //get form
    const comp_filter_form = document.getElementById("comp-filter-form");

    // get form fields
    const title = document.getElementById("title-filter");
    const location = document.getElementById("lodcation-filter");

    // add event listener for changes to the selection on any of the form fields
    title.addEventListener('change', mySubmitFunction);
    location.addEventListener('change', mySubmitFunction);


    // submit the form when any of the events happen
    function mySubmitFunction() {
      comp_filter_form.submit();
    };
  </script>

{% endblock %}
