
{% extends "rankings/base.html" %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></h2>
    {% if comp.process_state == comp.RESULTS_RESOLVED %}
      <h3 class="text-center">Heat Results</h3>
    {% else %}
      <h3 class="text-center">Heats</h3>
    {% endif %}
  </div>
</div>

<div class="row align-items-start">


  <div class="col-12 col-xl-10 offset-xl-1 px-0 border border-dark">
    <table class="table table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th class="text-center d-none d-sm-table-cell">Time</th>
          <th class="text-center">Category</th>
          <th class="text-center">Number</th>
          <th class="text-center d-table-cell d-md-none">Description</th>
          <th colspan="2" class="text-center d-none d-md-table-cell">Description</th>
          {% if show_elo %}
            <th class="text-center">Elo Value</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        <form class="mx-auto" id='heat-filter-form' method="get">
          {% csrf_token %}
          <tr class="table-primary">
            <td class="text-right d-none d-sm-table-cell"> <input class="btn btn-outline-light btn-sm" type="submit" name="btn-submit" value="&#128270;"/></td>
            <td id='category-filter' class="text-center">{{ filter.form.category }}</td>
            <td id='heat-number-filter' class="text-center">{{ filter.form.heat_number }}</td>
            <td id='dance-style-filter' class="text-center d-none d-md-table-cell">{{ filter.form.style }}</td>
            <td id='info-filter' class="text-center">{{ filter.form.info }}</td>
          </tr>
        </form>
        {% for heat in page_obj %}
        <tr>
          <td class="text-center d-none d-sm-table-cell">{{ heat.time }}</td>
          <td class="text-center">{{ heat.get_category_display }}</td>
          {% if heat.extra %}
            <td class="text-center">{{ heat.heat_number }}{{ heat.extra }}</td>
          {% else %}
            <td class="text-center">{{ heat.heat_number }}</td>
          {% endif %}
          <td class="text-center d-table-cell d-md-none"><a href="{% url 'comps:heat' heat.id %}">{{ heat.info}}</a></td>
          <td colspan="2" class="text-center d-none d-md-table-cell"><a href="{% url 'comps:heat' heat.id %}">{{ heat.info}}</a></td>
          {% if show_elo %}
            {% if heat.initial_elo_value %}
              <td class="text-center">{{ heat.initial_elo_value }}</td>
            {% else %}
              <td></td>
            {% endif %}
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include "rankings/pagination.html" %}

  </div>
</div>

  <script>
    //get form
    const heat_filter_form = document.getElementById("heat-filter-form");

    // get form fields
    const base_value = document.getElementById("base-value-filter");
    const category = document.getElementById("category-filter");
    const heat_number = document.getElementById("heat-number-filter");
    const dance_style = document.getElementById("dance-style-filter");
    const heat_info = document.getElementById("info-filter");
    
    // add event listener for changes to the selection on any of the form fields
    base_value.addEventListener('change', mySubmitFunction);
    category.addEventListener('change', mySubmitFunction);
    heat_number.addEventListener('change', mySubmitFunction);
    dance_style.addEventListener('change', mySubmitFunction);
    heat_info.addEventListener('change', mySubmitFunction);

    // submit the form when any of the events happen
    function mySubmitFunction() {
      heat_filter_form.submit();
    };
  </script>

{% endblock %}
