
{% extends "rankings/base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
<div class="row">

  {% if comp.logo != "" %}
    <div class="d-none d-md-block col-12 p-0 text-center">
      {% cloudinary comp.logo.public_id  height=324 width=576 crop="fit" %}
    </div>
    <div class="d-block d-md-none col-12 p-0 text-center">
      {% cloudinary comp.logo.public_id  height=180 width=320 crop="fit" %}
    </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-12">
    <h2 class="text-center">{{ comp.title }}</h2>
    <h3 class="text-center">{{ comp.location }}</h3>
    {% if comp.start_date == comp.end_date %}
      <h4 class="text-center">{{ comp.start_date }}</h4>
    {% else %}
      <h4 class="text-center">{{ comp.start_date }} to {{ comp.end_date }}</h4>
    {% endif %}
    {% if show_load_time %}
      <h4 class="text-center">Heats Loaded at {{ comp.heatsheet_load_time }}</h4>
    {% endif %}
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-3 text-center">
    <h4><a href={{comp.heatsheet_url}} target="_blank">Heat Lists</a></h4>
  </div>
  <div class="col-3 text-center">
    <h4><a href={{comp.scoresheet_url}} target="_blank">Scoresheets</a></h4>
  </div>
</div>


<div class="row">
  <div class="col-12 text-center my-3">
    {% if show_load_buttons %}
      <span class="dropdown">
        <button class="btn btn-warning dropdown-toggle" type="button" id="editDropdownActionButton" data-toggle="dropdown">Edit</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'comps:create_heat' comp.id %}">Add Heat</a>
          <a class="dropdown-item" href="{% url 'comps:edit_comp' comp.id %}">Comp Info</a>
          <a class="dropdown-item" onclick="return confirm('Are you sure?')" href="{% url 'comps:clear_comp' comp.id %}">Clear All Data</a>
        </div>
      </span>

      {% if comp.heatsheet_url or comp.heatsheet_file %}
        <span class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="loadDropdownActionButton" data-toggle="dropdown">Load</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'comps:load_dancers' comp.id %}">Dancers</a>
            <a class="dropdown-item" href="{% url 'comps:load_heats' comp.id %}">Heats</a>
            {% if comp.scoresheet_url %}
              <a class="dropdown-item" href="{% url 'comps:load_scoresheets' comp.id %}">Scoresheets</a>
            {% endif %}
          </div>
        </span>
      {% endif %}

      <span class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="resolveDropdownActionButton" data-toggle="dropdown">Resolve</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'alias_dancers' 2 %}">Dancer Alias Names</a>
          <a class="dropdown-item" href="{% url 'comps:fix_dup_entries' comp.id %}">Duplicate Entries</a>
          <a class="dropdown-item" href="{% url 'comps:show_heatlist_errors' comp.id %}">Heatlist Errors</a>
          <a class="dropdown-item" href="{% url 'comps:resolve_mismatches' comp.id %}">Mismatched Entries</a>
          <a class="dropdown-item" href="{% url 'comps:show_scoresheet_errors' comp.id %}">Scoresheet Errors</a>
        </div>
      </span>
      <span class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="viewDropdownActionButton" data-toggle="dropdown">View</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'comps:dancers' comp.id %}">Dancers</a>
          <a class="dropdown-item" href="{% url 'comps:couples' comp.id %}">Couples</a>
          {% if comp.process_state == comp.RESULTS_RESOLVED %}
            <a class="dropdown-item" href="{% url 'comps:comp_heats' comp.id %}">Results</a>
          {% else %}
            <a class="dropdown-item" href="{% url 'comps:comp_heats' comp.id %}">Heats</a>
          {% endif %}
        </div>
      </span>
    {% else %}
      <div class="row">
        <div class="col-12 text-center">
          <a class="btn btn-info" href="{% url 'comps:dancers' comp.id %}">Dancers</a>
          <a class="btn btn-info" href="{% url 'comps:couples' comp.id %}">Couples</a>
          {% if comp.process_state == comp.RESULTS_RESOLVED %}
            <a class="btn btn-info" href="{% url 'comps:comp_heats' comp.id %}">Results</a>
          {% else %}
            <a class="btn btn-info" href="{% url 'comps:comp_heats' comp.id %}">Heats</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>



{% endblock %}

{% block extra_js %}
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
<script>
  console.log("Running JS")
  var process_state = '{{ comp.process_state }}';
  if (process_state === '{{ comp.INITIAL }}') {
    $( '#loadDropdownActionButton' ).removeClass( "btn-info" );
    $( '#loadDropdownActionButton' ).addClass( "btn-primary" );
  } else if (process_state === '{{ comp.DANCERS_LOADED }}' || process_state === '{{ comp.DANCER_NAMES_FORMATTED }}') {
    $( '#loadDropdownActionButton' ).removeClass( "btn-info" );
    $( '#loadDropdownActionButton' ).addClass( "btn-primary" );
  } else if (process_state === '{{ comp.HEATS_LOADED}}') {
    $( '#resolveDropdownActionButton' ).removeClass( "btn-info" );
    $( '#resolveDropdownActionButton' ).addClass( "btn-primary" );
  } else if (process_state === '{{ comp.HEAT_ENTRIES_MATCHED}}' || process_state === '{{ comp.HEAT_STYLES_DEFINED }}' || process_state === '{{ comp.HEAT_LEVELS_DEFINED }}') {
    $( '#viewDropdownActionButton' ).removeClass( "btn-info" );
    $( '#viewDropdownActionButton' ).addClass( "btn-primary" );
    $( '#loadDropdownActionButton' ).removeClass( "btn-info" );
    $( '#loadDropdownActionButton' ).addClass( "btn-primary" );
  } else if (process_state === '{{ comp.SCORESHEETS_LOADED}}') {
    $( '#resolveDropdownActionButton' ).removeClass( "btn-info" );
    $( '#resolveDropdownActionButton' ).addClass( "btn-primary" );
    $( '#viewDropdownActionButton' ).removeClass( "btn-info" );
    $( '#viewDropdownActionButton' ).addClass( "btn-primary" );
  } else if (process_state === '{{ comp.RESULTS_RESOLVED}}') {
    $( '#viewDropdownActionButton' ).removeClass( "btn-info" );
    $( '#viewDropdownActionButton' ).addClass( "btn-primary" );
  }
</script>


{% endblock %}
