
{% extends "rankings/base.html" %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></h2>
    {% if comp.process_state == comp.RESULTS_RESOLVED %}
      <h3 class="text-center">Heat Results</h3>
    {% else %}
      <h3 class="text-center">Heats</h3>
    {% endif %}
  </div>
</div>

<div class="row align-items-start">


  <div class="col-12 col-xl-10 offset-xl-1 px-0 border border-dark">
    <table class="table table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="text-center d-none d-sm-table-cell">Time</th>
          <th class="text-center">Category</th>
          <th class="text-center">Number</th>
          <th colspan="3" class="text-center">Description</th>
        </tr>
      </thead>
      <tbody>
        <form class="mx-auto" method="get">
          {% csrf_token %}
          <tr class="table-primary">
            <td class="text-center d-none d-sm-table-cell"><strong>Filter </strong></td>
            <td class="text-center d-none d-sm-table-cell">Value: {{ filter.form.base_value }}</td>
            <td class="text-center">{{ filter.form.category }}</td>
            <td class="text-center">{{ filter.form.heat_number }}</td>
            <td class="d-table-cell d-md-none"></td>
            <td class="text-center d-none d-md-table-cell">{{ filter.form.style }}</td>
            <td class="text-center">Info {{ filter.form.info }}</td>
            <td class="text-center"><input class="btn btn-info btn-sm" type="submit" name="submit" value="Submit"/></td>
          </tr>
        </form>
        {% for heat in page_obj %}
        <tr>
          <td colspan="2" class="text-center d-none d-sm-table-cell">{{ heat.time }}</td>
          <td class="text-center">{{ heat.get_category_display }}</td>
          {% if heat.extra %}
            <td class="text-center">{{ heat.heat_number }}{{ heat.extra }}</td>
          {% else %}
            <td class="text-center">{{ heat.heat_number }}</td>
          {% endif %}
          <td colspan="3" class="text-center"><a href="{% url 'comps:heat' heat.id %}">{{ heat.info}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include "rankings/pagination.html" %}

  </div>
</div>


{% endblock %}
