
{% extends "rankings/base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
<div class="row">

  {% if comp.logo != "" %}
    <div class="col text-center">
      {% cloudinary comp.logo.public_id  height=360 width=640 crop="fit" %}
    </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-8 offset-2">
    <h2 class="text-center">{{ comp.title }}</h2>
    <h3 class="text-center">{{ comp.location }}</h3>
    {% if comp.start_date == comp.end_date %}
      <h4 class="text-center">{{ comp.start_date }}</h4>
    {% else %}
      <h4 class="text-center">{{ comp.start_date }} to {{ comp.end_date }}</h4>
    {% endif %}
    <!-- <p>
      Process State: {{ comp.get_process_state_display }}
    </p> -->
  </div>
</div>


{% if comp.heatsheet_url %}
  {% if show_load_buttons %}
    <div class="row">
      <div class="col-6 offset-3 text-center">
          <a id="load_dancers_button" class="btn btn-info" role="button" href="{% url 'comps:load_dancers' comp.id %}">Load Dancers</a>
          <a id="load_heats_button" class="btn btn-info" role="button" href="{% url 'comps:load_heats' comp.id %}">Load Heats</a>
          <a id="load_scoresheets_button" class="btn btn-info" role="button" href="{% url 'comps:load_scoresheets' comp.id %}">Load Scoresheets</a>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-3 text-center">
          <a id="resolve_mismatches_button" class="btn btn-info" role="button" href="{% url 'comps:resolve_mismatches' comp.id %}">Resolve Mismatches</a>
          <a id="upload_heatlist_button" class="btn btn-info" role="button" href="{% url 'comps:upload_heatlist' comp.id %}">Upload Heatlist</a>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-6 offset-3 text-center">
        <a id="view_dancers_button" class="btn btn-info" role="button" href="{% url 'comps:dancers' comp.id %}">View Dancers</a>
        <a id="view_couples_button" class="btn btn-info" role="button" href="{% url 'comps:couples' comp.id %}">View Couples</a>
        <a id="view_heats_button" class="btn btn-info" role="button" href="{% url 'comps:comp_heats' comp.id %}">View Heats</a>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
<script>
  console.log("Running JS")
  var process_state = '{{ comp.process_state }}';
  if (process_state === '{{ comp.INITIAL }}') {
    $( '#load_dancers_button' ).removeClass( "btn-info" );
    $( '#load_dancers_button' ).addClass( "btn-primary" );
    $( '#upload_heatlist_button' ).removeClass( "btn-info" );
    $( '#upload_heatlist_button' ).addClass( "btn-primary" );
  } else if (process_state === '{{ comp.DANCERS_LOADED }}' || process_state === '{{ comp.DANCER_NAMES_FORMATTED }}') {
    $( '#load_heats_button' ).removeClass( "btn-info" );
    $( '#load_heats_button' ).addClass( "btn-primary" );
  } else if (process_state === '{{ comp.HEATS_LOADED}}') {
    $( '#resolve_mismatches_button' ).removeClass( "btn-info" );
    $( '#resolve_mismatches_button' ).addClass( "btn-primary" );
  } else if (process_state === '{{ comp.HEAT_ENTRIES_MATCHED}}' || process_state === '{{ comp.HEAT_STYLES_DEFINED }}' || process_state === '{{ comp.HEAT_LEVELS_DEFINED }}') {
    $( '#view_dancers_button' ).removeClass( "btn-info" );
    $( '#view_dancers_button' ).addClass( "btn-primary" );
    $( '#view_couples_button' ).removeClass( "btn-info" );
    $( '#view_couples_button' ).addClass( "btn-primary" );
    $( '#view_heats_button' ).removeClass( "btn-info" );
    $( '#view_heats_button' ).addClass( "btn-primary" );
    $( '#load_scoresheets_button' ).removeClass( "btn-info" );
    $( '#load_scoresheets_button' ).addClass( "btn-primary" );
  } else if (process_state === '{{ comp.SCORESHEETS_LOADED}}') {
    $( '#resolve_mismatches_button' ).removeClass( "btn-info" );
    $( '#resolve_mismatches_button' ).addClass( "btn-primary" );
    $( '#view_dancers_button' ).removeClass( "btn-info" );
    $( '#view_dancers_button' ).addClass( "btn-primary" );
    $( '#view_couples_button' ).removeClass( "btn-info" );
    $( '#view_couples_button' ).addClass( "btn-primary" );
    $( '#view_heats_button' ).removeClass( "btn-info" );
    $( '#view_heats_button' ).addClass( "btn-primary" );
  } else if (process_state === '{{ comp.RESULTS_RESOLVED}}') {
    $( '#view_dancers_button' ).removeClass( "btn-info" );
    $( '#view_dancers_button' ).addClass( "btn-primary" );
    $( '#view_couples_button' ).removeClass( "btn-info" );
    $( '#view_couples_button' ).addClass( "btn-primary" );
    $( '#view_heats_button' ).removeClass( "btn-info" );
    $( '#view_heats_button' ).addClass( "btn-primary" );
  }
</script>

  <!-- $(function () {
    if ( process state == "IN" ) {
      $( '#load_heats_button' ).addClass( "btn-primary" );
      $( '#load_dancers_button' ).removeClass( "btn-primary" );
      $( '#resolve_mismatches_button' ).removeClass( "btn-primary" );
      $( '#view_heats_button' ).removeClass( "btn-primary" );
    })
  }); -->
</script>


{% endblock %}
