
{% extends "rankings/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></h2>
      <h3 class="text-center">Couples</h3>
    </div>
  </div>

  <div class="row align-items-start">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 p-0 border border-dark">
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th class='text-center' colspan="3">Couple</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for couple in page_obj %}
          <tr>
            <td class="text-center"><a class="text-dark" href="{% url 'view_dancer' couple.dancer_1.id %}">{{ couple.dancer_1 }}</a></td>
            <td class='text-center'>and</td>
            <td class="text-center"><a class="text-dark" href="{% url 'view_dancer' couple.dancer_2.id %}">{{ couple.dancer_2 }}</a></td>
            {% if comp.process_state == comp.RESULTS_RESOLVED %}
              <td class='text-center'><a class="btn btn-outline-dark btn-sm" role="button" href="{% url 'comps:couple_heats' comp.id couple.id %}">View Results</a></td>
            {% else %}
              <td class='text-center'><a class="btn btn-outline-dark btn-sm" role="button" href="{% url 'comps:couple_heats' comp.id couple.id %}">View Heats</a></td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% include "rankings/pagination.html" %}
    </div>

    <!-- <div class="col-lg-3 border border-dark">
      <h4 class="text-center">Filter</h4>
      <form method="get">
        {{ filter.form.as_p }}
      <input class="btn btn-primary mx-auto" type="submit" value="Submit" />
      </form>
    </div> -->

  </div>


{% endblock %}
