
{% extends "rankings/base.html" %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></h2>
    <h3 class="text-center d-none d-lg-block">Heats for {{ couple }}</h3>
    <h4 class="text-center d-block d-lg-none">Heats for {{ couple }}</h3>
  </div>
</div>

{% if show_add_button %}
<div class="text-center my-1">
  <a class="btn btn-primary" href="{% url 'comps:create_heat' comp.id couple.id %}">Add Heat</a>
</div>
{% endif %}

<div class="row align-items-start">

  <div class="col-12 col-lg-10 offset-lg-1 p-0 border border-dark">
    <table class="table table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Category</th>
          <th class="text-center">Number</th>
          <th class="text-center d-none d-sm-table-cell">Time</th>
          <th class="text-center">Description</th>
          <th class="text-center">Result</th>
          <th class="text-center">Elo Change</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in page_obj %}
        <tr>
          <td class="text-center">{{ entry.heat.get_category_display }}</td>
          <td class="text-center">{{ entry.heat.heat_number }}{{ entry.heat.extra }}</td>
          <td class="text-center d-none d-sm-table-cell">{{ entry.heat.time }}</td>
          <td class="text-center"><a href="{% url 'comps:heat' entry.heat.id %}">{{ entry.heat.info}}</a></td>
          {% if entry.result|length > 0 %}
            <td class="text-center">{{ entry.result }}</td>
            <td class="text-center">{{ entry.elo_adjust}}</td>
          {% else %}
            <td></td>
            <td></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% include "rankings/pagination.html" %}

{% endblock %}
