
{% extends "rankings/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></h2>
      <h3 class="text-center">Couples</h3>
    </div>
  </div>

  <div class="row align-items-start">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 p-0 border border-dark">
      <form class="text-center" method="POST">
        {% csrf_token %}
        <span class="mx-2"><strong>Find </strong></span>
        {{ form.as_table}}
        <input class="btn btn-sm btn-primary mx-2" type="submit" name="submit" value = "Apply"/>
      </form>
    </div>
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 p-0 border border-dark">
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th class='text-center' colspan="4">Couple</th>
            <th class='text-center'>Number</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for comp_couple in page_obj %}
          <tr>
            <td class="text-center"><a class="text-dark" href="{% url 'view_dancer' comp_couple.couple.dancer_1.id %}">{{ comp_couple.couple.dancer_1 }}</a></td>
            <td class='text-center'>and</td>
            <td class="text-center"><a class="text-dark" href="{% url 'view_dancer' comp_couple.couple.dancer_2.id %}">{{ comp_couple.couple.dancer_2 }}</a></td>
            <td class='text-center'>{{ comp_couple.couple.get_couple_type_display }}</td>
            <td class='text-center'>{{ comp_couple.shirt_number }}</td>
            {% if comp.process_state == comp.RESULTS_RESOLVED or comp.process_state == comp.ELO_RATINGS_UPDATED %}
              <td class='text-center'><a class="btn btn-outline-dark btn-sm" role="button" href="{% url 'comps:couple_heats' comp.id comp_couple.couple.id %}">View Results</a></td>
            {% else %}
              <td class='text-center'><a class="btn btn-outline-dark btn-sm" role="button" href="{% url 'comps:couple_heats' comp.id comp_couple.couple.id %}">View Heats</a></td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% include "rankings/pagination.html" %}
    </div>
  </div>


{% endblock %}
