
{% extends "rankings/base.html" %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></h2>
    <h3 class="text-center">Heats for {{ dancer }}</h3>
  </div>
</div>

<div class="row align-items-start">

  <div class="col-12 p-0 border border-dark">
    <table class="table table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Category</th>
          <th class="text-center">Number</th>
          <th class="text-center d-none d-sm-table-cell">Time</th>
          <th class="text-center">Description</th>
          <th class="text-center">Couple</th>
          <th class="text-center">Result</th>
          <th class="text-center">Elo Change</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in page_obj %}
        <tr>
          <td class="text-center">{{ entry.heat.get_category_display }}</td>
          {% if entry.heat.extra %}
            <td class="text-center">{{ entry.heat.heat_number }}{{entry.heat.extra}}</td>
          {% else %}
            <td class="text-center">{{ entry.heat.heat_number }}</td>
          {% endif %}
          <td class="text-center d-none d-sm-table-cell">{{ entry.heat.time }}</td>
          <td class="text-center"><a href="{% url 'comps:heat' entry.heat.id %}">{{ entry.heat.info}}</a></td>
          <td class="text-center"><a href="{% url 'comps:couple_heats' comp.id entry.couple.id %}">{{ entry.couple}}</a></td>
          {% if entry.result|length > 0 %}
            <td class="text-center"><a href="{% url 'comps:edit_heat_entry' entry.id %}">{{ entry.result }}</a></td>
            <td class="text-center">{{ entry.elo_adjust}}</td>
          {% else %}
            <td></td>
            <td></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% include "rankings/pagination.html" %}

{% endblock %}
