
{% extends "rankings/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></h2>
      <h3 class="text-center">Dancers</h3>
    </div>
  </div>

  <div class="row align-items-start">
    <div class="col-12 col-lg-8 offset-lg-2 border border-dark px-0">
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Category</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <form class="mx-auto" id='dancer-filter-form' method="get">
            {% csrf_token %}
            <tr class="table-primary">
              <td id='name-filter' class="text-center"><strong>Filter </strong> {{ filter.form.name_last }}</td>
              <td id='dancer-type-filter' class="text-center">{{ filter.form.dancer_type }}</td>
              <td class="text-center"><input class="btn btn-info btn-sm" type="submit" name="btn-submit" value="Submit"/></td>
            </tr>
          </form>
          {% for dancer in page_obj %}
            <tr>
              <td class="text-center"><a class="text-dark" href="{% url 'view_dancer' dancer.id %}">{{ dancer }}</a></td>
              <td class="text-center">{{ dancer.get_dancer_type_display }}</td>
              {% if comp.process_state == comp.RESULTS_RESOLVED %}
                <td class="text-center"><a class="btn btn-outline-dark btn-sm" role="button" href="{% url 'comps:dancer_heats' comp.id dancer.id %}">View Results</a></td>
              {% else %}
                <td class="text-center"><a class="btn btn-outline-dark btn-sm" role="button" href="{% url 'comps:dancer_heats' comp.id dancer.id %}">View Heats</a></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% include "rankings/pagination.html" %}
    </div>
  </div>
  
  <script>
    //get form
    const dancer_filter_form = document.getElementById("dancer-filter-form");

    // get form fields
    const last_name = document.getElementById("name-filter");
    const dancer_type = document.getElementById("dancer-type-filter");
  
    // add event listener for changes to the selection on any of the form fields
    last_name.addEventListener('change', mySubmitFunction);
    dancer_type.addEventListener('change', mySubmitFunction);


    // submit the form when any of the events happen
    function mySubmitFunction() {
      console.log('submitted form');
      dancer_filter_form.submit();
    };
  </script>


{% endblock %}
