
{% extends "rankings/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-8 offset-md-2">
      <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></h2>
      <h3 class="text-center">Dancers</h3>
    </div>
  </div>

  <div class="row align-items-start">
    <div class="col-lg-4 offset-lg-3 border border-dark">
      <table class="table table-bordered table-sm">
        {% for dancer in page_obj %}
        <tr>
          <td>{{ dancer.name_last}}, {{ dancer.name_first }} {{dancer.name_middle}}</td>
          <td><a class="btn btn-outline-dark btn-sm" role="button" href="{% url 'comps:dancer_heats' comp.id dancer.id %}">View Heats</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="col-lg-3 border border-dark">
      <h4 class="text-center">Filter</h4>
      <form method="get">
        {{ filter.form.as_p }}
      <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>

  </div>

  {% include "rankings/pagination.html" %}

{% endblock %}
