
{% extends "rankings/base.html" %}

{% block content %}
<div class="row">

  {% if comp.logo != "" %}
    <div class="col-8 offset-md-2 text-center">
        <img src="{{ comp.logo.url }}"" />
    </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-8 offset-md-2">
    <h2 class="text-center">{{ comp.title }}</h2>
    <h3 class="text-center"{{ comp.location }}</h3>
    <h4 class="text-center">{{ comp.start_date }} to {{ comp.end_date }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-2 offset-md-5">
    {% if comp.heatsheet_url %}
      <form method="GET" action="{% url 'comps:process_heatlists' comp.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-rounded">Process Heatlists</button>
      </form>
    {% endif %}
  </div>
</div>

{% endblock %}
