{% extends "rankings/base.html" %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h2 class="text-center">{{ entry.heat.comp.title }}</h2>
    <h3 class="text-center">{{ entry.heat.get_category_display }} {{ entry.heat.heat_number }} {{ entry.heat.info }}</h3>
    <h4 class="text-center mt-3">{{ entry.couple.dancer_1}} and {{ entry.couple.dancer_2 }}</h4>

    <h4 class="text-center">{{ error }}</h4>
  </div>

  <div class="col-12">
    <form class="text-center" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-primary" type="submit" name="submit" value="Save">
      <input class="btn btn-danger" type="submit" name="submit" value="Delete Entry" onclick="return confirm('Are you sure?')">
    </form>
  </div>
</div>

{% endblock %}
