{% extends "rankings/base.html" %}

{% block content %}

<div class="row">
  <div class="col">
    <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' heat.comp.id %}">{{ heat.comp.title }}</a></h2>
    <h3 class="text-center">{{ heat.get_category_display }} {{ heat.heat_number}} {{ heat.info }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 offset-3 py-2 border border-dark">
    {% if error %}
      <p class="text-center bg-warning">{{ error.get_error_display }}</p>
    {% endif %}
    <h3 class="text-center">Edit Heat Data</h3>
    
    <p>{{ form_error }}</p>
    <form class="text-center" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-primary" type="submit" name="submit" value = "Save"/>
      <input class="btn btn-warning" type="submit" name="submit" value = "Add Couple"/>
      <input class="btn btn-danger" type="submit" name="submit" value="Delete Heat" onclick="return confirm('Are you sure?')" />
    </form>
  </div>
</div>

{% endblock %}
