{% extends "rankings/base.html" %}

{% block content %}

<div class="row">
  <div class="col-12">
    {% if comp.process_state == 'HL' or comp.process_state == "SSL" %}
      <h2 class="text-center"><a class=text-dark href="{% url 'comps:resolve_mismatches' comp.id %}">{{ comp.title }}</a></h2>
    {% else %}
      <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></h2>
    {% endif %}
  </div>
</div>

{% for item in heat_data %}
  <div class="row">
    <div class="col-2">
      {% if forloop.counter == 1 %}
        {% if prev_heat_id %}
          <a class="text-left" href="{% url 'comps:heat' prev_heat_id %}" class="btn btn-link">Previous Heat</a>
        {% endif %}
      {% endif %}
    </div>
    <div class="col-8">
      {% if forloop.counter == 1 %}
        <h3 class="text-center d-none d-lg-block">{{ item.heat.time }}</h3>
        <h4 class="text-center d-block d-lg-none">{{ item.heat.time }}</h4>
      {% endif %}
      {% if show_edit_button %}
        <h4 class="text-center d-none d-lg-block mt-3">{{ item.heat.get_category_display }} {{ item.heat.heat_number}}{{item.heat.extra}}: {{ item.heat.info }} <a href="{% url 'comps:edit_heat' item.heat.id %}" class="badge badge-link">Edit</a></h4>
        <h5 class="text-center d-block d-lg-none mt-3">{{ item.heat.get_category_display }} {{ item.heat.heat_number}}{{item.heat.extra}}: {{ item.heat.info }} <a href="{% url 'comps:edit_heat' item.heat.id %}" class="badge badge-link">Edit</a></h5>
        {% if item.error %}
          <p class="text-center bg-warning mt-0">{{ item.error.get_error_display }}</p>
        {% endif %}
      {% else %}
        <h4 class="text-center d-none d-lg-block mt-3">{{ item.heat.get_category_display }} {{ item.heat.heat_number}}{{item.heat.extra}}: {{ item.heat.info }}</h4>
        <h5 class="text-center d-block d-lg-none mt-3">{{ item.heat.get_category_display }} {{ item.heat.heat_number}}{{item.heat.extra}}: {{ item.heat.info }}</h5>
      {% endif %}
    </div>
    <div class="col-2">
      {% if forloop.counter == 1 %}
        {% if next_heat_id %}
          <a class="text-right" href="{% url 'comps:heat' next_heat_id %}" class="btn btn-link">Next Heat</a>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-10 offset-xl-1 border border-dark p-0">
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th colspan="3" class="text-center">Couple</th>
            <th class="text-center d-none d-sm-table-cell">Shirt Number</th>
            {% if item.results_available %}
              <th class="text-center">Result</th>
              <th class="text-center">Points</th>
            {% else %}
              <th class="text-center">Rating</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for entry in item.entries %}
          <tr>
            {% if entry.couple.dancer_1 %}
              <td class='text-center'><a class="text-dark" href="{% url 'view_dancer' entry.couple.dancer_1.id %}">{{ entry.couple.dancer_1 }}</a></td>
            {% else %}
              <td>TBD</td>
            {% endif %}
            <td class="text-center">and</td>
            {% if entry.couple.dancer_2 %}
              <td class="text-center"><a class="text-dark" href="{% url 'view_dancer' entry.couple.dancer_2.id %}">{{ entry.couple.dancer_2 }}</a></td>
            {% else %}
              <td>TBD</td>
            {% endif %}
            <td class="text-center d-none d-sm-table-cell">{{ entry.shirt_number }}</td>
            {% if item.results_available %}
              {% if show_edit_button %}
                {% if entry.result|length > 0 %}
                  <td class="text-center"><a href="{% url 'comps:edit_heat_entry' entry.id %}">{{ entry.result }}</a></td>
                {% else %}
                  <td class="text-center"><a href="{% url 'comps:edit_heat_entry' entry.id %}">Edit</a></td>
                {% endif %}
              {% else %}
                {% if entry.result|length > 0 %}
                  <td class="text-center">{{ entry.result }}</td>
                {% endif %}
              {% endif %}
              {% if entry.points %}
                <td class="text-center">{{ entry.points}}</td>
              {% endif %}
            {% else %}
              {% if show_edit_button %}
                {% if entry.rating %}
                  <td class="text-center"><a href="{% url 'comps:edit_heat_entry' entry.id %}">{{ entry.rating}}</a></td>
                {% else %}
                  <td class="text-center"><a href="{% url 'comps:edit_heat_entry' entry.id %}">Edit</a></td>
                {% endif %}
              {% else %}
                {% if entry.rating %}
                  <td class="text-center">{{ entry.rating}}</td>
                {% endif %}
              {% endif %}
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endfor %}
{% endblock %}
