{% extends "rankings/base.html" %}

{% block content %}

<div class="row">
  <div class="col-12">
    <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></h2>
  </div>
</div>

{% for item in heat_data %}
  <div class="row">
    <div class="col-12">
      {% if forloop.counter == 1 %}
        <h3 class="text-center">{{ item.heat.time }}</h3>
      {% endif %}
      <h4 class="text-center d-none d-md-block mt-3">{{ item.heat.get_category_display }} {{ item.heat.heat_number}}{{item.heat.extra}}: {{ item.heat.info }}</h4>
      <h5 class="text-center d-block d-md-none mt-3">{{ item.heat.get_category_display }} {{ item.heat.heat_number}}{{item.heat.extra}}: {{ item.heat.info }}</h5>

      {% if show_edit_button %}
      <div class="text-center my-1">
        <a class="btn btn-primary" href="{% url 'comps:edit_heat' item.heat.id %}">Edit Heat</a>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1 border border-dark p-0">
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th colspan="3" class="text-center">Couple</th>
            <th class="text-center d-none d-md-table-cell">Shirt Number</th>
            {% if item.results_available %}
              <th class="text-center">Result</th>
              <th class="text-center">Points</th>
            {% else %}
              <th class="text-center">Rating</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for entry in item.entries %}
          <tr>
            {% if entry.couple.dancer_1 %}
              <td><a class="text-dark" href="{% url 'view_dancer' entry.couple.dancer_1.id %}">{{ entry.couple.dancer_1 }}</a></td>
            {% else %}
              <td>TBD</td>
            {% endif %}
            <td>and</td>
            {% if entry.couple.dancer_2 %}
              <td><a class="text-dark" href="{% url 'view_dancer' entry.couple.dancer_2.id %}">{{ entry.couple.dancer_2 }}</a></td>
            {% else %}
              <td>TBD</td>
            {% endif %}
            <td class="text-center d-none d-md-table-cell">{{ entry.shirt_number }}</td>
            {% if item.results_available %}
              {% if entry.result|length > 0 %}
                <td class="text-center"><a href="{% url 'comps:edit_heat_entry' entry.id %}">{{ entry.result }}</a></td>
              {% elif show_edit_button %}
                <td class="text-center"><a href="{% url 'comps:edit_heat_entry' entry.id %}">Edit</a></td>
              {% endif %}
              {% if entry.points %}
                <td class="text-center">{{ entry.points}}</td>
              {% endif %}
            {% else %}
              {% if entry.rating %}
                <td class="text-center"><a href="{% url 'comps:edit_heat_entry' entry.id %}">{{ entry.rating}}</a></td>
              {% elif show_edit_button %}
                <td class="text-center"><a href="{% url 'comps:edit_heat_entry' entry.id %}">Edit</a></td>
              {% endif %}
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endfor %}
<div class="row">
  <div class="col-12 text-center mt-2">
    {% if prev_heat_id %}
        <a href="{% url 'comps:heat' prev_heat_id %}" class="btn btn-primary">Previous Heat</a>
    {% endif %}
    {% if next_heat_id %}
        <a href="{% url 'comps:heat' next_heat_id %}" class="btn btn-primary">Next Heat</a>
    {% endif %}
  </div>
</div>
{% endblock %}
