
{% extends "rankings/base.html" %}

{% block content %}
<div class="row">
  <div class="col-8 offset-md-2">
    <h2 class="text-center">{{ comp_title }} - Heat Entries</h2>
    <h3 class="text-center">{{ heat.get_category_display }} {{ heat.heat_number}} {{ heat.info }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-10 offset-md-1">
  <table class="table table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th colspan="3" class="text-center">Couple</th>
        <th class="text-center">Shirt Number</th>
        <th class="text-center">Result</th>
        <th class="text-center">Points</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
      <tr>
        <td>{{ entry.couple.dancer_1 }}</td>
        <td>and</td>
        <td>{{ entry.couple.dancer_2 }}</td>
        <td class="text-center">{{ entry.shirt_number }}</td>
        <td>{{ entry.result }}</td>
        {% if entry.points %}
          <td>{{ entry.points}}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>

<!-- <nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1" aria-label="Goto page 1">1</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
    {% endif %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">{{ page_obj.number }}
        <span class="sr-only">(current)</span>
      </span>
    </li>
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Goto last page">{{ page_obj.paginator.num_pages }}</a></li>
    {% endif %}
  </ul>
</nav> -->

<div class="row">
  <div class="col-4 offset-md-4">
      <a id="resolve_mismatches_button" class="btn btn-primary" role="button" href="{% url 'comps:resolve_mismatches' comp_id %}">Resolve Mismatches</a>
      <a id="view_heats_button" class="btn btn-primary" role="button" href="{% url 'comps:heats' comp_id %}">View Heats</a>
  </div>
</div>

{% endblock %}
