
{% extends "rankings/base.html" %}

{% block content %}
<div class="row">
  <div class="col-8 offset-md-2">
    <h2 class="text-center">{{ comp.title }}</h2>
    <h3 class="text-center">Resolve Mismatches</h3>
  </div>
</div>

<div class="row">
  <div class="col-6 offset-md-3">
    <h4 class="text-center">{{ first_entry.entry.heat.get_category_display }} {{ first_entry.entry.heat.heat_number }}</h4>
    <h4 class="text-center">Find matching couple for:</h4>
    <div class="alert alert-info text-center" role="alert">
      {{ first_entry.dancer.name }} and {{ first_entry.partner.name }}
    </div>
    <form method="POST">
      {% csrf_token %}
      <label for="couples">Choose a couple:</label>
      <select id="couples" name="couple">
        {% for entry in unmatched_entries %}
        <option value="{{ entry.couple }}">{{ entry.couple.dancer_1 }} and {{ entry.couple.dancer_2 }}</option>
        {% endfor %}
      </select>
      <br /><br />
      <input class="btn btn-primary" type="submit" name="submit" value="Submit">
      <input class="btn btn-secondary" type="submit" name="Reset" value="Reset">
    </form>

{% endblock %}
