
{% extends "rankings/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-lg-10 offset-lg-1">
    <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></h2>
    <h3 class="text-center">Resolve Mismatches</h3>
    <h4 class="text-center">{{ entries_remaining }} entries remaining to match</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-10 offset-md-1">
    <h4 class="text-center">{{ first_entry.entry.heat.get_category_display }} {{ first_entry.entry.heat.heat_number }} {{ first_entry.entry.heat.info}} - {{ couple_type }}</h4>
    <h4 class="text-center">Find matching couple for:</h4>
    <div class="alert alert-info text-center" role="alert">
      {{ first_entry.dancer.name }} and {{ first_entry.partner.name }}
    </div>
    <div class="text-center">
      <form method="POST">
        {% csrf_token %}
        <label for="couples">Choose a couple:</label>
        <select id="couples" name="couple">
          {% for match in possible_matches %}
          <option value="{{ match }}">{{ match.dancer_1 }} and {{ match.dancer_2 }}, {{ match.couple_type }}</option>
          {% endfor %}
        </select>
        <br /><br />
        <input class="btn btn-primary" type="submit" name="submit" value="Select">
        <input class="btn btn-primary" type="submit" name="submit" value="Widen Search">
        <span class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">Add</button>
          <span class="dropdown-menu">
            <input class="dropdown-item" type="submit" name="submit" value="Dancer: {{ first_entry.dancer.name }}">
            <input class="dropdown-item" type="submit" name="submit" value="Dancer: {{ first_entry.partner.name }}">
          </span>
        </span>
        <span class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">Go</button>
          <span class="dropdown-menu">
            {% if dancer_match %}
              <a class="dropdown-item" href="{% url 'view_dancer' dancer_match.id %}">Dancer: {{ first_entry.dancer.name }}</a>
            {% endif %}
            {% if partner_match %}
              <a class="dropdown-item" href="{% url 'view_dancer' partner_match.id %}">Dancer: {{ first_entry.partner.name }}</a>
            {% endif %}
          </span>
        </span>
        <input class="btn btn-warning" type="submit" name="submit" value="Delete">
        </form>
      </div>

  </div>
</div>

{% endblock %}
