
{% extends "rankings/base.html" %}

{% block content %}
<div class="row">
  <div class="col-8 offset-md-2">
    <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></h2>
    <h3 class="text-center">Resolve Mismatches</h3>
    <h4 class="text-center">{{ entries_remaining }} entries remaining to match</h4>
  </div>
</div>

<div class="row">
  <div class="col-8 offset-md-2">
    <h4 class="text-center">{{ first_entry.entry.heat.get_category_display }} {{ first_entry.entry.heat.heat_number }} {{ first_entry.entry.heat.info}} - {{ couple_type }}</h4>
    <h4 class="text-center">Find matching couple for:</h4>
    <div class="alert alert-info text-center" role="alert">
      {{ first_entry.dancer.name }} and {{ first_entry.partner.name }}
    </div>
    <form method="POST">
      {% csrf_token %}
      <label for="couples">Choose a couple:</label>
      <select id="couples" name="couple">
        {% for match in possible_matches %}
        <option value="{{ match }}">{{ match.dancer_1 }} and {{ match.dancer_2 }}, {{ match.couple_type }}</option>
        {% endfor %}
      </select>
      <br /><br />
      <input class="btn btn-primary" type="submit" name="submit" value="Submit">
      <input class="btn btn-primary" type="submit" name="submit" value="Widen Search">
      <input class="btn btn-secondary" type="submit" name="submit" value="Reset">
      <input class="btn btn-warning" type="submit" name="submit" value="Delete">
    </form>
  </div>
</div>

{% endblock %}
