
{% extends "rankings/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-8 offset-md-2">
      <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></h2>
      <h3 class="text-center">Dancers</h3>
    </div>
  </div>

  <div class="row align-items-start">

    <div class="col-6 border border-dark">
      <h4>Names from Heatlist</h4>
          
      {% include "rankings/pagination.html" %}
      
      <ul>
        {% for dancer in page_obj %}
          {% if dancer.formatting_needed %}
            <li><strong>{{ dancer.name }}</strong></li>
          {% else %}
            <li>{{ dancer.name }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-6 border border-dark">
      <h4 class="text-center">Format Name</h4>
      {% if current_name %}
        <div class="alert alert-info text-center" role="alert">
          {{ current_name.name }}
        </div>
        <form method="POST">
          {% csrf_token %}
          <label for="spelling">Choose a format:</label>
          <select id="spelling" name="spelling">
            {% for spelling in possible_formats %}
            <option value="{{ spelling }}">{{ spelling }}</option>
            {% endfor %}
          </select>
          <br /><br />
          <input class="btn btn-primary" type="submit" name="submit" value="Submit">
          <input class="btn btn-secondary" type="submit" name="submit" value="Reset">
          <input class="btn btn-warning" type="submit" name="submit" value="Delete">
        </form>
      {% else %}
        <div class="alert alert-success text-center" role="alert">
          All names have been correctly formatted.
        </div>
        <div class="text-center">
          <a class="btn btn-primary" role="button" href="{% url 'comps:load_heats' comp.id %}">Load Heats</a>
        </div>
      {% endif %}
    </div>

  </div>

{% endblock %}
