{% extends "rankings/base.html" %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h2 class="text-center"><a class=text-dark href="{% url 'comps:comp_detail' comp.id %}">{{ comp.title }}</a></h2>
    <h3 class="text-center">Scoresheet Errors</h3>
  </div>
</div>

<div class="row align-items-start">


  <div class="col-12 col-xl-10 offset-xl-1 px-0 border border-dark">
    <table class="table table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Category</th>
          <th>Number</th>
          <th class="text-center">Description</th>
          <th class="text-center">Error</th>
          <th class="text-center">Couple</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for error in page_obj %}
        <tr>
          <td class="text-center">{{ error.heat.get_category_display }}</td>
          {% if heat.extra %}
            <td class="text-center">{{ error.heat.heat_number }}{{ error.heat.extra }}</td>
          {% else %}
            <td class="text-center">{{ error.heat.heat_number }}</td>
          {% endif %}
          <td class="text-center"><a href="{% url 'comps:heat' error.heat.id %}">{{ error.heat.info }}</a></td>
          <td class="text-center">{{ error.get_error_display }}</td>
          {% if error.couple %}
            <td class="text-center"><a href="{% url 'view_couple' error.couple.id %}">{{ error.couple }}</a></td>
          {% else %}
            <td></td>
          {% endif %}
          <td>
              <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownActionButton" data-toggle="dropdown">Action</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'comps:delete_scoresheet_error' error.pk %}">Delete</a>
                <a class="dropdown-item" href="{% url 'comps:heat' error.heat.id %}">View</a>
                <a class="dropdown-item" href="{% url 'comps:repair_scoresheet_error' error.pk %}">Repair</a>
              </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include "rankings/pagination.html" %}

  </div>
</div>


{% endblock %}
